/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion) {
    html {
        scroll-behavior: auto;
    }
}

/* Typography
--------------------------------------------- */
body {
    margin: 0;
    background-color: #fef5f0;
    color: #373435;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

/* Elements
--------------------------------------------- */
ul {
    list-style: none;
}

.logo {
    width: 3rem;
}

.btn-up {
    position: sticky;
    display: block;
    bottom: 3rem;
    width: 2.7rem;
    margin-left: 85%;
    border: none;
    background-color: transparent;
    transform: rotate(-90deg);
}

button {
    cursor: pointer;
}

.btn-up:hover {
    fill: #ec702e;
}

blockquote {
    position: relative;
    text-align: center;
    width: fit-content;
    margin: 3rem auto;
}

/* Links
--------------------------------------------- */

a,
a:visited {
    color: #a71401;
    text-decoration: none;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

main {
    margin-top: 4rem;
}

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header 
--------------------------------------------- */

.site-header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    background-color: rgb(254, 245, 240);
}

.site-navigation button {
    border: none;
    background-color: transparent;
}

.site-navigation svg {
    width: 3rem;
    fill: #ec702e;
}

.site-navigation ul {
    background-color: black;
    padding: 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.site-navigation ul li {
    margin: 2rem;
}

.site-navigation li a {
    display: block;
    padding: 1rem;
}

.site-navigation a:hover,
.site-navigation a:focus,
.site-navigation a:active {
    color: #fef5f0;
    background-color: #5e5b1c;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.3rem;
    border-left: solid 5px #ec702ec2;
}

/* Navigation Menu Toggle */

#nav-btn {
    transform: rotate(0deg);
    transition: transform 1s;
}

#nav-btn.toggled {
    transform: rotate(180deg);
    transition: transform 1s;
}

#nav-list {
    position: absolute;
    visibility: hidden;
    top: 2.5rem;
    left: 0;
    right: 0;
    height: 0;
    transition: all 0s;
}

#nav-list.open {
    visibility: visible;
    position: absolute;
    height: 100vh;
    transition: all 0.5s ease;
}

#nav-list.open a {
    color: #ec7636;
}

#nav-list.open a:hover {
    color: #ffffff;
}

/* Navigation - Desktop View */

@media (min-width: 37.5em) {
    .site-navigation button {
        display: none;
    }

    .site-header {
        padding: 0 3rem;
    }

    .site-navigation ul#nav-list {
        visibility: visible;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        height: auto;
        top: 0;
        margin: 0;
        font-size: 1.2rem;
        background-color: transparent;
    }

    .site-navigation ul li {
        margin: 0;
        padding: 0 0.5rem;
    }

    .site-navigation a:hover,
    .site-navigation a:focus,
    .site-navigation a:active {
        padding: 0.5rem;
    }
}

/* Banner */

.banner {
    position: relative;
}

.banner img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
    display: block;
}

.banner h1 {
    position: absolute;
    bottom: 3rem;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    color: #ffffff;
    background-color: #00000099;
}

/* Banner - Desktop View */

@media (min-width: 37.5em) {
    .banner img {
        height: 30rem;
    }

    .credits header img {
        object-position: top;
    }
}

/* Main
--------------------------------------------- */
/* Specific styles for each page go here */

/* *************** Home Page **************** */

.home-hero {
    position: relative;
    height: 70vh;
}

.home video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: left;
}

.hero-header {
    position: absolute;
    top: 6rem;
    background-color: #fef5f0bf;
    color: #373435;
    padding: 0 5rem 0 2rem;
    font-size: 3rem;
    font-weight: 700;
    font-size: 3rem;
    text-shadow: 2px 2px #ec702e;
}

.jeju-name {
    color: #992626;
    text-decoration: underline #373435;
}

.open-quote {
    width: 2.5rem;
    position: absolute;
    opacity: 0.6;
    left: 0.8rem;
    top: -1.25rem;
}

/* Mini Gallery */

.gallery {
    display: grid;
    grid-template-columns: auto repeat(4, minmax(4rem, 8rem)) auto;
    grid-template-rows: repeat(3, 8rem);
    gap: 1rem;
    margin: 3rem 0;
}

.gallery img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-one {
    grid-column: 2 / 4;
}

.gallery-two {
    object-position: left;
}

.gallery-three {
    grid-row: 1 / 4;
    grid-column: 5 / 6;
}

.gallery-four {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    object-position: right;
}

.gallery-five {
    grid-column: 3 / 5;
}

.gallery-six {
    grid-column: 2 / 5;
    object-position: 50% 60%;
}

/* *************** Culture Page **************** */

.culture-main section {
    padding: 1rem 3rem 3rem;
}

.culture-main h2 {
    text-decoration: underline;
}

.culture-main article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-left {
    background-color: #5e5b1c;
    color: #fff;
}

.culture-main section img:not(.img-vertical) {
    width: 17rem;
    height: 100%;
}

.img-vertical {
    height: 18rem;
    box-shadow: 5px 5px;
    transform: rotate(10deg);
}

.img-left img:not(.img-vertical) {
    box-shadow: -10px -10px;
}

.img-right img {
    box-shadow: 10px 10px;
}

/* Culture - Desktop View */

@media (min-width: 50em) {
    .culture-main article {
        flex-wrap: nowrap;
        align-items: center;
        gap: 2rem;
    }

    .img-right img {
        order: 1;
    }
}

/* *************** Food Page **************** */

.food-main h2 {
    text-align: center;
    width: 80%;
    background-color: #5e5b1c;
    color: #ffffff;
    margin: 2rem auto;
    padding: 0.3rem 0;
}

.food-main section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.food-main article {
    display: flex;
    flex-direction: column;
    width: 15rem;
    margin: 1rem;
    border: solid;
    border-radius: 1rem;
}

.food-main img {
    min-height: 11rem;
}

.food-main article h3,
.food-main article blockquote {
    padding: 1rem;
    margin: 0;
}

/* Food - Desktop View */

@media (min-width: 50em) {
    .food-main section {
        display: grid;
        grid-template-rows: repeat(2, auto);
        gap: 1rem;
    }

    .food-land {
        grid-template-columns: repeat(4, 1fr);
    }

    .food-sea,
    .food-dessert {
        grid-template-columns: repeat(5, 1fr);
    }

    .food-main h2 {
        grid-column: 1 / span 5;
        grid-row: 1 / 2;
    }

    .food-main section article:first-of-type {
        grid-column: 2 / 3;
    }
}

/* *************** Explore Page **************** */

.map {
    margin: 0;
    text-align: center;
    font-style: italic;
}

.map img {
    height: 20rem;
    max-width: 100%;
}

.explore h2 {
    margin: 2rem;
    padding-left: 2rem;
    border-bottom: solid;
}

.explore section img {
    width: 100%;
}

.explore article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    background-color: white;
    padding: 0.5rem 1rem 2.5rem;
    margin: 4rem auto;
}

.explore h3 {
    padding: 1rem;
}

.explore article:before {
    content: "";
    position: relative;
    width: 6rem;
    height: 2.5rem;
    top: -1.5rem;
    right: 9rem;
    transform: rotate(-40deg);
    background-color: rgba(0, 0, 0, 0.5);
}

/* Sticky bottom navigation */

.explore-nav {
    position: sticky;
    width: 100%;
    bottom: 0;
    z-index: 200;
}

.explore-nav ul {
    display: flex;
    background-color: #f5bc41;
    justify-content: space-evenly;
    margin: 0;
    padding: 0.7rem;
}

.explore-nav li a {
    color: #292d11;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0 1rem;
}

.explore-nav li a:hover,
.explore-nav li a:focus,
.explore-nav li a:active {
    border-bottom: solid;
    font-size: 1.3rem;
}

/* Explore - Desktop View */

@media (min-width: 50em) {
    .map img {
        height: 30rem;
    }

    .explore-main section {
        height: 52rem;
    }

    .explore-main section:first-of-type {
        height: 40rem;
    }

    .explore-main section {
        position: relative;
        top: 35;
    }

    .explore-main article {
        position: absolute;
        padding-top: 4rem;
    }

    .explore-main article:first-of-type {
        left: 7%;
        transform: rotate(-7deg);
    }

    .explore-main article:nth-of-type(2) {
        left: 27%;
    }

    .explore-main article:nth-of-type(3) {
        right: 27%;
        transform: rotate(5deg);
    }

    .explore-main article:last-of-type {
        right: 7%;
        transform: rotate(7deg);
    }

    .explore article:before {
        display: none;
    }

    .explore article:hover {
        z-index: 100;
        width: 22rem;
        transform: rotate(0);
    }
}

/* *************** Credits Page **************** */

/* Table */

.credits table,
.credits h2 {
    width: 70%;
    margin: 0 auto;
}

.credits table {
    border-collapse: collapse;
    line-height: 1.8rem;
}

.credits h2 {
    text-align: center;
    margin-top: 4rem;
    padding: 0.5rem 0;
    background-color: #f9dac7;
    border-radius: 2rem 2rem 0 0;
}

.credits tbody {
    border: solid;
}

.credits th {
    border-bottom: double #5e5b1c;
    padding: 0.4rem;
    font-size: 1.2rem;
}

.credits td {
    padding-left: 1rem;
    border-bottom: dotted 1px;
}

/* Contact Form */

.contact-form {
    display: flex;
    flex-direction: column;
    width: 20rem;
    align-items: center;
    border: solid 1px black;
    margin: 5rem auto 0;
    background-color: #f9dac7;
}

.contact-form h2 {
    margin-top: 2rem;
}

.contact-form input:not(input[type="radio"]),
.contact-form textarea {
    border: none;
    padding: 0.5rem;
    width: 70%;
}

.contact-form label {
    margin: 0.5rem;
}

input[type="submit"] {
    margin: 1rem;
    font-family: "Alegreya Sans", sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
    background-color: #5e5b1c;
    color: #ffffff;
}

input[type="submit"]:hover {
    text-decoration: underline;
    background-color: #fef5f0;
    color: #525019;
}

/* Footer
--------------------------------------------- */

.site-footer {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
    background-color: #373435;
    color: #fef5f0;
}

footer svg {
    fill: #fef5f0;
    width: 1.5rem;
    margin: 0.2rem;
}

footer p {
    margin: 0;
}

/* Text meant only for screen readers.
--------------------------------------------- */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    overflow: hidden;
    position: absolute !important;
    word-wrap: normal !important;
}

.screen-reader-text:focus {
    display: block;
    left: 1rem;
    top: 5rem;
    padding: 15px 23px 14px;
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    z-index: 100000;
}
