/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

html {
    scroll-behavior: smooth;
}

/* Typography
--------------------------------------------- */
body {
    margin: 0;
    background-color: #fef5f0;
    color: #373435;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-weight: 500;
}

p {
}

/* Elements
--------------------------------------------- */
ul {
    list-style: none;
}

ol {
}

dl {
}

figure {
}

table {
}

.logo {
    width: 3rem;
}

.navicon {
    background-color: transparent;
    border: none;
    width: 3rem;
}

.btn-up {
    position: fixed;
    bottom: 50;
    left: 50%;
    font-size: 2rem;
    border-radius: 50%;
    width: 2.7rem;
    padding: 0;
}

button {
    cursor: pointer;
}

/* Links
--------------------------------------------- */

a,
a:visited {
    color: #ec702e;
    text-decoration: none;
}

a:hover {
}

a:focus {
}

a:active {
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header 
--------------------------------------------- */

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    background-color: rgb(254, 245, 240, 0.8);
}

.nav-list {
    display: none;
}

/* Main
--------------------------------------------- */
/* Specific styles for each page go here */

/* Home Page */

.hero {
    position: relative;
    height: 70vh;
}

video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    /* height: 25rem; */
    height: 70vh;
}

h1 {
    position: absolute;
    top: 100;
    width: 70%;
    background-color: rgb(254, 245, 240, 0.5);
    color: rgb(55, 52, 53);
}

.jeju-name {
    color: #ec702e;
}

.arrow-down {
    position: absolute;
    z-index: 1;
    width: 2rem;
    top: 180;
}

blockquote {
    position: relative;
}

.quote {
    font-size: 5rem;
    position: absolute;
}

/* History Page */

/* Culture Page */

/* Credits Page */

/* Footer
--------------------------------------------- */

.site-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
    background-color: #373435;
}

footer * {
    color: #fef5f0;
}

footer p {
    margin: 0;
}
