/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

html {
    scroll-behavior: smooth;
}

/* Typography
--------------------------------------------- */
body {
    margin: 0;
    background-color: #fef5f0;
    color: #373435;
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

p {
}

/* Elements
--------------------------------------------- */
ul {
    list-style: none;
}

ol {
}

dl {
}

figure {
}

table {
}

.logo {
    width: 3rem;
}

.btn-up {
    position: sticky;
    display: block;
    bottom: 50;
    width: 2.7rem;
    margin-left: 85%;
    border: none;
    background-color: transparent;
    transform: rotate(-90deg);
}

button {
    cursor: pointer;
}

/* Links
--------------------------------------------- */

a,
a:visited {
    color: #ec702e;
    text-decoration: none;
}

a:hover {
}

a:focus {
}

a:active {
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header 
--------------------------------------------- */

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    background-color: rgb(254, 245, 240, 0.8);
}

.site-navigation button {
    border: none;
    background-color: transparent;
}

.site-navigation svg {
    width: 3rem;
    fill: #ec702e;
}

.site-navigation ul {
    background-color: black;
    padding: 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
}

.site-navigation ul li {
    margin: 2rem;
}

.site-navigation li a {
    display: block;
    padding: 1rem;
}

/* Navigation Menu Toggle */

#nav-btn {
    transform: rotate(0deg);
    transition: transform 1s;
}

#nav-btn.toggled {
    transform: rotate(180deg);
    transition: transform 1s;
}

#nav-list {
    position: absolute;
    visibility: hidden;
    top: 2.5rem;
    left: 0;
    right: 0;
    height: 0;
    transition: all 0s;
}

#nav-list.open {
    /* display: block; */
    visibility: visible;
    position: absolute;
    height: 100vh;
    transition: all 0.5s ease;
}

/* Banner */

.banner {
    position: relative;
}

.banner img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
}

.banner h1 {
    position: absolute;
    bottom: 50;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    color: white;
    background-color: rgb(0, 0, 0, 0.6);
}

/* Main
--------------------------------------------- */
/* Specific styles for each page go here */

/* *************** Home Page **************** */

.hero {
    position: relative;
    height: 70vh;
}

video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    /* height: 25rem; */
    height: 70vh;
    object-fit: cover;
    object-position: left;
}

.hero-header {
    position: absolute;
    top: 90;
    /* width: 70%; */
    background-color: rgb(254, 245, 240, 0.75);
    color: rgb(55, 52, 53);
    padding: 0 5rem 0 2rem;
    font-size: 3rem;
    font-weight: 700;
    font-size: 3rem;
    text-shadow: 2px 2px #992626;
}

.jeju-name {
    color: #ec702e;
    text-decoration: underline #992626;
}

.arrow-down svg {
    position: absolute;
    z-index: 1;
    top: 180;
    width: 2.5rem;
}

blockquote {
    position: relative;
    text-align: center;
    width: fit-content;
    margin: 3rem auto;
}

.section-bottom svg {
    width: 2.5rem;
    position: absolute;
    opacity: 0.6;
}

.open-quote {
    left: 10;
    top: -20;
}

/* .close-quote {
    bottom: 25;
    right: -40;
} */

/* Mini Gallery */
.gallery {
    display: grid;
    grid-template-columns: auto repeat(4, minmax(4rem, 8rem)) auto;
    grid-template-rows: repeat(3, 8rem);
    gap: 1rem;
    margin: 3rem 0;
}

.gallery img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-one {
    grid-column: 2 / 4;
}

.gallery-two {
    object-position: left;
}

.gallery-three {
    grid-row: 1 / 4;
    grid-column: 5 / 6;
}

.gallery-four {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    object-position: right;
}

.gallery-five {
    grid-column: 3 / 5;
}

.gallery-six {
    grid-column: 2 / 5;
    object-position: 50% 60%;
}

/* *************** Culture Page **************** */

.site-header {
    position: sticky;
    top: 0;
}

.culture-main section {
    padding: 1rem 3rem 3rem;
}

.culture-main h2 {
    text-decoration: underline;
}

.culture-main article {
    display: flex;
    flex-wrap: wrap;
}

.img-left {
    background-color: #777324;
    color: #fff;
}

.culture-main section img:not(.img-vertical) {
    width: 13rem;
    height: 100%;
}

.img-vertical {
    height: 18rem;
    box-shadow: 5px 5px;
    transform: rotate(10deg);
}

.img-left img:not(.img-vertical) {
    box-shadow: -5px -5px;
}

.img-right img {
    box-shadow: 5px 5px;
}

@media (min-width: 37.5em) {
    .culture-main article {
        flex-wrap: nowrap;
        gap: 2rem;
    }

    .img-right img {
        order: 1;
    }
}

/* *************** Food Page **************** */

.food-main h2 {
    text-align: center;
    width: 80%;
    background-color: black;
    color: white;
    margin: 0 auto;
}

.food-main section {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin: 3rem;
}

.food-main article {
    display: flex;
    flex-direction: column;
    width: 15rem;
    border: solid;
}

.food-main article h3,
.food-main article p {
    padding: 1rem;
    margin: 0;
}

/* *************** Explore Page **************** */

.map img {
    height: 20rem;
}

.explore section img {
    width: 100%;
}

.explore article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18rem;
    background-color: white;
    padding: 0.5rem 1rem 4rem;
    margin: 4rem auto;
}

.explore h3 {
    padding: 1rem;
}

.explore article:before {
    content: "";
    position: relative;
    width: 6rem;
    height: 2.5rem;
    top: -27;
    right: 130;
    transform: rotate(-40deg);
    background-color: rgba(0, 0, 0, 0.5);
}

/* Sticky bottom navigation */

.explore-nav {
    position: sticky;
    width: 100%;
    bottom: 0;
    background-color: black;
}

.explore-nav ul {
    display: flex;
    background-color: #292d11;
    justify-content: space-evenly;
    margin: 0;
    padding: 0.7rem;
}

/* *************** Credits Page **************** */

.credits table,
.credits h2 {
    width: 70%;
    margin: 0 auto;
}

.credits h2 {
    text-align: center;
    margin-top: 4rem;
    border-bottom: solid;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 20rem;
    align-items: center;
    border: solid black;
    margin: 3rem auto 0;
}

.contact-form input:not(input[type="radio"]),
.contact-form textarea {
    border: none;
    padding: 0.5rem;
    width: 70%;
}

.contact-form label {
    margin: 0.5rem;
}

input[type="submit"] {
    margin: 1rem;
    font-family: "Alegreya Sans", sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
}

/* Footer
--------------------------------------------- */

.site-footer {
    /* position: absolute;
    bottom: 0; */
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 0;
    background-color: #373435;
    color: #fef5f0;
}

footer svg {
    fill: #fef5f0;
    width: 1.5rem;
    margin: 0.2rem;
}

footer p {
    margin: 0;
}
